<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="main h-screen w-full bg-zinc-900 text-white p-10">
        <h1 class="text-3xl font-medium mb-5">Create Account</h1>
        <form action="/register" method="post">
            <input autocomplete="off" required class="bg-zinc-800 px-4 py-2 rounded outline-none" type="text" placeholder="Enter name" name="name">
            <input autocomplete="off" required class="bg-zinc-800 px-4 py-2 rounded outline-none" type="text" placeholder="Enter username" name="username">
            <input autocomplete="off" required class="bg-zinc-800 px-4 py-2 rounded outline-none" type="email" placeholder="Enter email" name="email">
            <input autocomplete="off" required class="bg-zinc-800 px-4 py-2 rounded outline-none" type="password" placeholder="Enter password" name="password">
            <button class="bg-red-500 px-4 py-2 rounded cursor-pointer"  type="submit">Create account</button>
        </form>
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>